[submodule "Qoden.Calendar"]
	path = Qoden.Calendar
	url = https://github.com/Qoden/Qoden.Calendar.git
[submodule "Qoden.SlideController"]
	path = Qoden.SlideController
	url = https://github.com/Qoden/Qoden.SlideController.git
[submodule "Qoden.UI"]
	path = Qoden.UI
	url = https://github.com/Qoden/Qoden.UI.git
[submodule "Qoden.Validation"]
	path = Qoden.Validation
	url = https://github.com/Qoden/Qoden.Validation.git
[submodule "Serilog"]
	path = Serilog
	url = https://github.com/Qoden/Serilog.git
[submodule "Qoden.Auth"]
	path = Qoden.Auth
	url = https://github.com/Qoden/Qoden.Auth.git
[submodule "Qoden.Util"]
	path = Qoden.Util
	url = https://github.com/Qoden/Qoden.Util.git
